<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>go search</title>
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link href="assets/index.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="homepage" id="hello-vue">
    <div class="page-header">
        <h1>GoSearch <small>Beta 1.0</small></h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input @keyup.enter="search" v-model="q" id="q" type="text" class="form-control"
                       placeholder="Search for..."/>
                <span class="input-group-btn"/>
                <button type="button" class="btn btn-outline-primary" @click="search">搜索</button>
            </div><!-- /.col-lg-6 -->
        </div>

    </div><!-- /.row -->
    <div class="row">
        <p></p>
    </div>
    <div class="row" v-if="tips && !wait">&nbsp;
        <div class="col-lg-6">
            <p class="fw-light">
                <span>耗时{{data.cost}}ms</span>,<span>找到{{list.length}}条记录</span>
            </p>
        </div>
    </div>
    <div class="row" v-if="wait">
        <div class="col-lg-6">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <template v-for="d in list" v-if="!wait">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <a :href="d.url" target="_blank"><h5 class="card-title">{{d.title}}</h5></a>
                        <h6 class="card-subtitle mb-2 text-muted">{{d.host}}
                            <button type="button" class="btn btn-outline-info">{{d.from}}</button>
                            <button type="button" class="btn btn-outline-info">{{d.score}}</button>
                        </h6>
                        <p class="card-text">{{d.subTitle}}</p>
                    </div>
                </div>
            </div>

        </div>
    </template>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="https://cdn.staticfile.org/axios/0.27.2/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/3.2.37/vue.global.min.js"></script>
<script>
    const HelloVueApp = {
        data() {
            return {
                message: 'Hello Vue!!',
                wait: '',
                tips: false,
                list: [],
                data: {
                    cost: 0
                },
                q: ''
            }
        },
        methods: {
            search() {
                this.wait = '加载中...'
                axios
                    .get('/search?q=' + this.q)
                    .then(response => {
                        this.wait = ''
                        this.tips = true
                        this.data = response.data
                        this.list = response.data.data.list
                    })
                    .catch(error => {
                        this.wait = '错误! 无法访问 API。 ' + error
                    })
            }
        }
    }
    Vue.createApp(HelloVueApp).mount('#hello-vue')

</script>
</body>
</html>
